body {
    background:#2b89a5
}
.title{ 
    color: #ffff;
    font-size: 45px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info {
    color: #d7dcdb;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ffff;
    background: #ffff ;
    border-radius: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form div + div {
    margin-top: 1em;
}

textarea {
    font: 1em ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 400px;
    
}
input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.leg {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: grey;

}
.leg2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(77, 72, 72);  
}
.linha{
    color: #2b89a5;
}